In [1]:
a=(1,2,3,4)
a

(1, 2, 3, 4)

In [2]:
b=1,2,3,4
b

(1, 2, 3, 4)

In [3]:
c=(1,)
c

(1,)

In [4]:
 d=("a","b","c","d")
d

('a', 'b', 'c', 'd')

In [5]:
#tuples ko hm change nhi krsktay
del d
d

NameError: name 'd' is not defined

In [6]:
#two d array
d=(("a","b","c","d"),(1,2,3,4))
d

(('a', 'b', 'c', 'd'), (1, 2, 3, 4))

In [7]:
lst=[1,2,3,4,5,6,7,8]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8

In [8]:
for i in range(len(lst)):
    print(lst[i])

1
2
3
4
5
6
7
8

In [10]:
num=input("Enter the number")
num=int(num)
num

Enter the number3

3

In [13]:
a=[1,2,3,4,5,6]
b=[4,5,6,7,8,9]
c=[]
for i in a:
    for j in b:
        if(i==j):
            c.append(i)
print(c)

[4, 5, 6]

In [1]:
  name=input("Enter the name")
print(name.upper())
print(name.lower())
print(name.title())

Enter the namemaviA
MAVIA
mavia
Mavia

# LIST COMPrehension
#code short krta h

In [7]:
h=[]
for i in "human":
    h.append(i)
h

['h', 'u', 'm', 'a', 'n']

In [8]:
h=[letter for letter in "human"] #[expression for var in iterator]
h

['h', 'u', 'm', 'a', 'n']

In [9]:
 #print 2 table
h=[x*2 for x in range(1,11)]
h

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
 h=[x*3 for x in range(1,11)]
h

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [11]:
h=[x for x in range(1,21) if x%2 == 0]
h

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
x=int(input("enter the num"))
h=[i*x for i in range(1,11)]
h

enter the num3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [13]:
#Transpose
#[1,2,3,4]
#[5,6,7,8]
#[1,5]
#[2,6]
#[3,7]
#[4,8]